.blog {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}
 .title {
    width: 410px;
height: 51px;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
text-transform: uppercase;
color: #555555;
margin: 0 auto;
}
.post1 {
    width: 585px;
    height: 455.28px;
    left: 135.25px;
    top: 5049.66px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/images/blog/post1.svg);
    background-size: cover;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff;
    padding-top: 260px;
}
.post2 {
    margin-top: 20px;
    width: 585px;
    height: 455.28px;
    left: 135.25px;
    top: 5049.66px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/images/blog/post2.svg);
    background-size: cover;
    border-radius: 8px; 
    padding-top: 260px;
    color: #fff;
}
.read{
    width: 85px;
height: 25px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 130%;
letter-spacing: 0.008em;
margin: 20px;
}
.read:hover{
    background: #7ac751;
    padding: 4px;
    border-radius: 8px;
    width: 100px;
}
.read i{
    font-size: 12px;
    color: #fff;
    padding-left: 5px;
}
.post3 {
    margin-top: 20px;
    width: 585px;
    height: 455.28px;
    left: 135.25px;
    top: 5049.66px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/images/blog/post3.svg);
    background-size: cover;
    border-radius: 8px;
    padding-top: 260px;
    color: #fff;
}
.post4 {
    margin-top: 20px;
    width: 585px;
    height: 455.28px;
    left: 135.25px;
    top: 5049.66px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../assets/images/blog/post4.svg);
    background-size: cover;
    border-radius: 8px;
    padding-top: 260px;
    color: #fff;
}

.tag_block {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
/* .tag_block p, */
.post1 h4, .post2 h4, .post3 h4, .post4 h4 {
    color: #fff;
    width: 490.1px;
height: 75.88px;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 39px;
line-height: 120%;
letter-spacing: 0.005em;
}
.tag {
    width: 100px;
    height: 24px;
    background: #f8fafb;
    border-radius: 3px;
    /* background: rgb(235, 227, 227); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag img {
    width: 16px;
    height: 16px;
}
.tag h5 {
    color: #7ac751;
    font-size: 12px;
    width: 70px;
}
