.container {
    display: grid;
    grid-template-areas:
        "b m"
        "s c";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;
    height: 440px;
    margin: 50px auto;
    margin-bottom: 150px;
}
.content {
    grid-area: c;
    margin-top: 17px;
    /* padding-left: 3px; */
}
.sideBar {
    margin-left: -5px;
}
