.container {
    width: 1200px;
    margin: 0 auto;
    /* height: 600px; */
    min-height: 1100px;
}

.content {
    background: transparent;
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    padding: 16px;
    min-height: 900px;

}

.product_menu {
    position: absolute;
    top: 50px;
    left: 80px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    color: #fff;
}


.prod_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin-top: 0;
    gap: 4px;
    height: 80%;
    padding: 0 8px;
    color: #fff;
}

.prod_price {
    font: 16px;
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.prod_price del {
    color: lightgreen;
}

.prod_description {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8px;
}

.prod_icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

.prod_icons p {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.prod_icons button {
    background: #fff;
    color: #7AC751;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
}

.prod_icons button:hover {
    box-shadow: -1px -2px 2px 3px #fff;
    background: #7AC751;
    color: #fff;
}

.prod_icons i {
    color: red;
    cursor: pointer;
    margin-right: 8px;
    font-size: 20px;
}

.like_prod {
    grid-column: span 2 / span 2;
    margin-top: 32px;
    padding: 0 8px;
}

.like_prod h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #fff;

}

.like_card {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: transparent;
}

.title {
    color: #7AC751;
    font-weight: bolder;
    padding-right: 5px;
}

@media (min-width:1024px) {
    .content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 32px;
    }

    .product_menu {
        margin-left: 48px;

    }

    .prod_info {
        margin-top: 32px;
        padding: 0 16px;

    }
}

@media (min-width:768px) {
    .content {
        padding-top: 80px;
    }

    .product_menu {
        margin-left: 32px;
    }

    .prod_info {
        gap: 16px;
    }

    .like_card {
        justify-content: space-between;
    }
}