.content{
    margin: 10px auto;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    color: #555555;
    font-size: 30px;
    width: 188px;
height: 45px;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
margin: 32px 0;
}
.card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
@media screen 
{
    .card{
        display: flex;
        justify-content: space-around;
    }
    
}